doctype html
include includes/head.pug
body(onload="load()")
    include includes/nav.pug
    #content
        span.header
            h1 404 Not found
            span#loading Loading...
a.button(href='https://www.networkbotlist.tk') Normal Bot List

