doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
    .jumbotron.text-center.bg-transparent
      h1.display-3 404
      p.lead You are not in the right land!
      a.btn.btn-secondary(href='/') Go back to Lightcord Land!