doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        h1 About Toyota
        p.smallwidth
            | This is an 
            a(href='/') A Discord Bot List That Can Help Your Discord Server Make You happy :) Make Your Server Fun learning Stuff Playing Games their bots! 
            |  , written in NodeJS, with an
            a(href='https://expressjs.com/')  Express JS web server
            |  |Discord.js |
            a(href='https://discord.js.org/#/')  discord.js yep
            |  |What did You Use? |
            a(href='/')  Made Using Pug js css
            a(href='https://github.com/Sank6/Discord-Bot-List/issues') an issue.
            br
            | |The End |
            a(href='/add') Find Bots, Advertise Bots, Earn Badges, and much more! Join us today
        br
        a#back.button(href='javascript:history.back()') Back