doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Certification
            p Certify your bot today and get below perks
            p 1. Vanity URL
            p 2. Beautiful badge for your badge
        a.button(href='javascript:history.back()') Add
        a.button(href='/') Home