doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Certification News
            p We You Can't Apply on  The Site You Have To apply on The Server With The Bot Modlxv1!
            p 
            p 2. Beautiful badge for your Bot
        a.button(href='https://www.networkbotlist.tk/bots/757746671861104780') See The Bot
        a.button(href='/') Home