doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Certification News
            p You Can't Apply on  The Site You Have To apply on The Server With The Bot Modlxv1!
            p 1. Prefix is :
            p 2. apply is :apply {Message}
            p 3. better be good! :)
        a.button(href='https://www.networkbotlist.tk/bots/757746671861104780') See The Bot
        a.button(href='/') Home