doctype html
include includes/head.pug
body(onload="load()")
    include includes/nav.pug
    #content
    
        img(src='https://media.discordapp.net/attachments/804066817567883294/805732470691594250/PngItem_2986122.png?width=457&height=457')
        span.header
            h1 Toyota
            h3 Find Bots, Advertise Bots, Earn Badges,
        #searchMore
            | Would you like to 
            a(href='/bots/search/') search all bots
        #cards
            span#loading Toyota The Best Bot List