doctype html
include includes/head.pug
body(onload="load()")
    include includes/nav.pug
    #content
        span.header
            h1 Toyota
            h3 Find Bots, Advertise Bots, Earn Badges,
        #searchMore
            | Would you like to 
            a(href='/bots/search/') search all bots
        #cards
            span#loading Toyota The Best Bot List
            
       