doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        h1 NetworkBotList
        h1 Terms Of Service & Privacy Policy
        h1 Coming Soon!
        p.smallwidth
            | 
            a(href='') 
            |  
            a(href='')  
            | 
            a(href='')  
            |  
            a(href='')  
            | 
            a(href='') 
            br
            | 
            a(href='')  
        br
        a#back.button(href='javascript:history.back()') Back
        
        //// still working on it by Dave :)