doctype html
include includes/head.pug
script(src="https://www.google.com/recaptcha/api.js" async defer)

body
    include includes/nav.pug
    #content
        span.header
            h1 Report a Bot
            p Enter the reason!
        br
        form.center
            .input-holder
                input#botid.input(type='text' placeholder=' ')
                .placeholder Bot ID
            br
            .input-holder
                input#description.input(maxlength=max_summary_length type='text' placeholder=' ')
                .placeholder Reason
            br
            .input-holder
                input#ownerids.input.xinput(type='text' placeholder=' ')
                .placeholder Additional Owner IDs
            br
            .center-inline.g-recaptcha(data-callback='update_token' data-sitekey=site_key data-theme=req.cookies["theme"] || "light")
            a.button(onclick='submit()') Report!
            br
        br