doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
    span.header
        h1 ToS
        p To keep discord lists safe we have rules for you to follow.
        br
        
        h2 Discord Server Rules:
        p 1. No fighting in chat
        p 2. Listen to all moderators and staff
        p 3. Don't ping mods/staff/admin/devs/owners for no reason
        p 4. When replying to mods/staff/etc. we want you to disable the ping
        p 5. No cursing
        p 6. No JFJ (Join for Join)
        p 7. Wait for your bot to be reviewed
        p 8. Don't mini-mod.
        p 9. No NSFW or obscene content. This includes text, images, or links featuring nudity, sex, hard violence, or other graphically disturbing content.
        p 10. No spam or self-promotion (server invites, advertisements, etc) without permission from a staff member. This includes DMing fellow members.
        h3 These can be changed at anytime
        
        br
        h2 Discord Lists Website Rules:
        p 1. Respect that we only have the features that are seen on the website
        p 2. Do not spam bug report forms
        p 3. Do not cause the site to be ratelimited. Our current ratelimit is 30 (If you ratelimit the website that will be a result of a kick from the discord server)