head
    meta(property='og:title' content='Network Bot List')
    meta(property='og:type' content='website')
    meta(property='og:description' content='a Discord bot list That Can Help Your Discord Server Make You happy :) Make Your Server Fun learning Stuff Playing Games their bots! Find Bots, Advertise Bots, Earn Badges, and much more! Join us today')
    meta(name='description' content='a discord bot list That Can Help Your Discord Server Make You happy :) Make Your Server Fun learning Stuff Playing Games their bots! Find Bots, Advertise Bots, Earn Badges, and much more! Join us today')
    meta(name='og:image' content='https://media.discordapp.net/attachments/764244251923972096/809596239310094346/PngItem_2986122.png?width=453&height=453')
    meta(name='theme-color' content='#FF8C00')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')

    link(rel='shortcut icon' type='image/png' href='https://media.discordapp.net/attachments/764244251923972096/809596239310094346/PngItem_2986122.png?width=453&height=453')
    link(href='/assets/css/main.css' rel='stylesheet')
    link(href='/theme' rel='stylesheet')

    //- Font from google fonts
    link(href='https://fonts.googleapis.com/icon?family=Markazi+Text' rel='stylesheet')
    
    //- CKEDITOR 4 for Description editing in HTML
    script(src='https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js')

    //- jQuery
    script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js')

    //- Noty
    script(src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css' rel='stylesheet')

    //- FontAwesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css' rel='stylesheet')
    
    script(src='/assets/js/main.js')
    script(src='/assets/js/cards.js')

    //- Import SWAL
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
    link(href='https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css' rel='stylesheet')


    title Network Bot List