<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='description' content='About my page'>
    <title>My Page</title>

    <!-- Bootstrap core CSS -->
    <script src="/cdn-cgi/apps/head/Jg99Sm4J-yz0EYRSxNuxM-uyhE0.js"></script><script src="/cdn-cgi/apps/head/E_5PIoGmpxdiwh2kk8i7HePyZGw.js"></script><link href='https://ashmw.com/assets/bootstrap.css' rel='stylesheet'>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      body {
        padding-top: 3.5rem;
      }


      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
  <a class='navbar-brand' href='#'>Modlxv1</a>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarsExampleDefault'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <a class='nav-link' href='#'>Home <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#'>Link</a>
      </li>
    </ul>
  </div>
</nav>
