<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" media="screen and (max-width: 786px)" href="https://www.arkazibot.ml/css/phone.css />
</head>
<body>
<nav id="navbar">
<div id="logo">
<img src="logo.png" alt="">
</div>
<ul>
<li class="item"><a href="index.html">Home</a></li>
<li class="item"><a href="commands.html">Commands</a></li>
<li class="item"><a href="privacy.html">Privacy Policy</a></li>
<li class="item"><a href="https://discord.gg/" target="_blank">Support Server</a></li>
<li class="item"><a href="premium.html">Premium</a></li>
</ul>
</nav>